{% extends 'layout_inner.html' %}
{% block content %}
<br>
<div style="display: flex; height: 200px;">
    <div class="add_campaign" >
        <h3>Add Campaign:</h3>
        <a class="add_button center_item" href="{{url_for('add_campaigns')}}">
            <img src="../../static/add_icon.svg" alt="" class="center_item">
        </a>
    </div>
    <div class="info">
        <div class="fields">
            <h6>No of Campaigns Created: </h6>
            <p class="value">{{no_of_camps}}</p>    
        </div>
        <div class="fields">
            <h6>No of Ads Created: </h6>
            <p class="value">{{no_of_ads}}</p>
        </div>
        <div class="fields">
            <h6>No of Collaborations: </h6>
            <p class="value">{{no_of_collabs}}</p>
        </div>
        <div class="fields">
            <h6>Amount spent: </h6>
            <p class="value">{{total_amount_spent | default(0)}}</p>
        </div>
    </div>
</div>
<hr>
    <div class="campaigns">
    <div class="title_n_view">
        <h3>Live Campaigns:</h3>
        <a href="" class="btn">View All <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
    {% for camp in live_campaigns %}
    <div class="cust_card">
        <div class="cust_card_body" style="width: 50%;">
            <h4 class="card-title">{{camp.name}}</h4>
            <p class="p_label" >Budget</p>
            <p class="card-text">{{camp.budget}}</p>
        </div>
        <div class="cust_card_body_right center-item">
            <a href="{{url_for('spon_view_camp',camp_id=camp.id)}}" class="btn">View <i class="fa fa-list" aria-hidden="true"></i></a>
        </div>
    </div>
    {% endfor %}
    <br>
    <br>
    <div class="title_n_view">
        <h3>Closed Campaigns:</h3>
        <a href="" class="btn">View All <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
    {% for camp in closed_campaigns %}
    <div class="cust_card">
        <div class="cust_card_body" style="width: 50%;">
            <h4 class="card-title">{{camp.name}}</h4>
            <p class="p_label" >Budget</p>
            <p class="card-text">{{camp.budget}}</p>
        </div>
        <div class="cust_card_body_right center-item">
            <a href="{{url_for('spon_view_camp',camp_id=camp.id)}}" class="btn">View <i class="fa fa-list" aria-hidden="true"></i></a>
        </div>
    </div>
    {% endfor %}
    <br>
    <br>
    <div class="title_n_view">
        <h3>Flagged Campaigns:</h3>
        <a href="" class="btn">View All <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
    {% for camp in flagged_camp %}
    <div class="cust_card">
        <div class="cust_card_body" style="width: 50%;">
            <h4 class="card-title">{{camp.name}}</h4>
            <p class="card-text">{{camp.desc}}</p>
        </div>
        <div class="cust_card_body_right center-item">
            <a href="{{url_for('spon_view_camp',camp_id=camp.id)}}" class="btn">View <i class="fa fa-list" aria-hidden="true"></i></a>
        </div>
    </div>
    {% endfor %}

</div>


{% endblock %}
{% block style %}
<style>
    .add_campaign{
        width: 40%;
        border-right: 1px solid;
    }
    .add_button{
        width: 100%;
        height: 80%;
        border: none;
        color: none;
    }
    .add_button > img{
        border-radius: 15px;
        width: 80%;
        height: 80%;
    }
    .info{
        margin-left: 2rem;
    }
    .info > .fields{
        display: flex;
        padding: .5rem 0 .5rem 0;
    }
    .info > .fields > h6{
        margin-bottom: 0 !important;
    }
    .info > .fields .value{
        margin-left: 15rem;
        font-size: larger;
        position: absolute;
    }
</style>
{% endblock %}