{% extends 'layout_inner.html' %}
{% block content %}
<script>
    $(document).ready(function() {
        $(".openDialogBtn").click(function() {
            var name = $(this).data("name");
            var id = $(this).data("id");
            var filterOption = "{{ filter_option }}";

            $("#dialogBox h3").text("Are you sure about flagging " + name +" ?");
            $("#confirmflag").attr("href", "/inverse/" + id+ "/"+filterOption); // adding href to the a tag inside the dialog box

            $("#dialogBox").fadeIn(); // Show dialog box
        });
        $("#closeDialogBtn").click(function() {
            $("#dialogBox").fadeOut(); // Hide dialog box
        });
    });
</script>
<div class="container">
    <h1>Find Page</h1>
</div>

<!-- Dialog box -->
<div id="dialogBox" class="dialog-box">
    <h3>Are you sure you want to flag this user</h3>
    <a id="confirmflag" class="btn btn_red">Confirm</a>
    <button id="closeDialogBtn" class="btn">Close</button>
</div>

<div class="container">
    <nav class="navbar" style="margin: 5px 0 5px 0;">
        <form action="{{url_for('admin_find_post')}}" method="post" class="form-inline w-100">
            <div class="input-group w-100">
                <input class="form-control" type="search" placeholder="Search " aria-label="Search"
                value="{{search_query}}" style="border-radius: 15px;"
                 name="searchAll" >
                 <select class="form-select" name="filter_html" aria-label="Filter by:" value="{{filter_option}}">
                    <option hidden>Filter By:</option>
                    <option value="spon">Sponsors</option>
                    <option value="influ">Influencers</option>
                    <option value="camps">Campaigns</option>
                    <option value="ads">Ads</option>
                    <option value="flag_spon">Flagged Sponsors</option>
                    <option value="flag_influ">Flagged Influencers</option>
                    <option value="flag_camps">Flagged Campaigns</option>
                    <option value="flag_ads">Flagged Ads</option>
                </select>
                <div class="input-group-append">
                    <button class="btn text-dark" type="submit"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
                </div>
            </div>
        </form>
    </nav>

    <p>** To get all results keep the search empty</p>

    {% for res in results %}

    <div class="cust_card">
        <div class="cust_card_body" style="width: 50%;">
            <h4 class="card-title">{{res.name}}</h4>
            <p class="card-text">{{res.desc}}</p>
        </div>
        <div class="cust_card_body_right center-item">
            <a href="{{url_for('view',id=res.id,role=filter_option)}}" class="btn">View <i class="fa fa-list" aria-hidden="true"></i></a>
            {% if res.is_flagged %}
            <a href="#" class="btn btn_red openDialogBtn" data-name="{{res.name}}" data-id="{{res.id}}">UnFlag<i class="fa fa-close" aria-hidden="true"></i></a>
            {% else %}
            <a href="#" class="btn btn_red openDialogBtn" data-name="{{res.name}}" data-id="{{res.id}}">Flag <i class="fa fa-flag" aria-hidden="true"></i></a>
            {% endif %}
        </div>
    </div>
        
    {% endfor %}
</div>
{% endblock %}
{% block style %}
<style>
    .form-select{
        border-radius: 15px !important;
        margin-left: 2px;
    }
    .dialog-box {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.434);
        z-index: 1000;
    }
</style>    
{% endblock %}