{% extends 'layout_inner.html' %}
{% block content %}
<style>
    h1{
        margin-top: 10vh;
        font-weight: bolder;
    }
</style>
<div class="container">
    <h1>Hello <span class="heading">{{user}}</span>!!</h1>
    <br>
    <div class="live_campaigns">
        <div class="card">
            <div class="card-header"><h4>Live Campaigns</h4></div>
                {% for camp in campaigns[:3]%}
                <div class="cust_card">
                    <div class="cust_card_body" style="width: 50%;">
                        <h6 class="card-title">{{camp.name}}</h6>
                    </div>
                    <div class="cust_card_body_right center-item">
                        <a href="{{ url_for('view_campaign', campaign_id=camp.id) }}" class="btn">View <i class="fa fa-list" aria-hidden="true"></i></a>
                    </div>
                </div>
                {% endfor %}
                {% if campaigns|length == 0 %}
                <div class="card-body">
                    <p>No live Campaigns</p>
                </div>
                {% endif %}
            <div class="card-footer">
                <a href="{{url_for("search_all",filter_option="camps")}}" class="btn" type="submit">
                    View All <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <br>
    <div class="flagged-users">
        <div class="card">
            <div class="card-header">Flagged Influencers</div>
                {% for users in flag_users[:3]%}
                <div class="cust_card">
                    <div class="cust_card_body" style="width: 50%;">
                        <h6 class="card-title">{{users.name}}</h6>
                    </div>
                    <div class="cust_card_body_right center-item">
                        <a href="{{url_for('unflag_influ',id=users.id)}}" class="btn btn_red">Unflag <i class="fa fa-close" aria-hidden="true"></i></a>
                    </div>
                </div>
                {% endfor %}
                {% if flag_users|length == 0 %}
                <div class="card-body">
                    <p>No flagged Users</p>
                </div>
                {% endif %}
            <div class="card-footer">
                <a  href="{{url_for("search_all",filter_option="flag_influ")}}"  class="btn" type="submit">
                    View All <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
            </div>
          </div>
    </div>
    <br>
    <div class="flagged-campaigns">
        <div class="card">
            <div class="card-header">Flagged Campaigns</div>
                {% for camp in flag_campaigns[:3]%}
                <div class="cust_card">
                    <div class="cust_card_body" style="width: 50%;">
                        <h6 class="card-title">{{camp.name}}</h6>
                    </div>
                    <div class="cust_card_body_right center-item">
                        <a href="{{url_for('unflag_camp',id=camp.id)}}" class="btn btn_red">Unflag <i class="fa fa-close" aria-hidden="true"></i></a>
                    </div>
                </div>
                {% endfor %}
                {% if flag_campaigns|length == 0 %}
                <div class="card-body">
                    <p>No flagged Campaigns</p>
                </div>
                {% endif %}
            <div class="card-footer">
                <a href="{{url_for('search_all',filter_option='flag_camps')}}" class="btn" type="submit">
                    View All <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
            </div>
          </div>
    </div>
</div>

{% endblock %}
{% block style %}
<style>
    .cust_card{
        height:5% !important;
        border:none !important;
        background-color: rgba(219, 223, 227, 0.627);
    }
</style>
{% endblock %}