{% extends 'layout_inner.html' %}
{% block content %}
    <div class="container">
        <div class="findSelectors">
            <a href="{{url_for('influ_find')}}" class="center_item heading {% if findActive == 'spon' %}inner_highlight{% endif %}">Find Sponsors</a>
            <a href="{{url_for('influ_find_Ads')}}" class="center_item heading {% if findActive == 'ads' %}inner_highlight{% endif %}">Find Ads</a>
            <a href="{{url_for('influ_find_Camp')}}" class="center_item heading {% if findActive == 'camp' %}inner_highlight{% endif %}">Find Campaigns</a>
        </div>
        <div>
            <form action="{{url_for('influ_find_Camp')}}" method="post" enctype="multipart/form-data">
                <div class="mb-3 findInflu">
                    <label class="form-label">Find Campaigns</label>
                    <div class="container">
                        <input type="text" placeholder="Give Campaign Name" class="form-control" name="search_campName" />
                        <br>
                        <input type="text" placeholder="Give Sponsor Name" class="form-control" name="search_sponName" />
                        <br>
                        <div class="center_item">
                            <button type="submit" class="btn" style="margin-top: 20px;">Search</button>
                        </div>
                    </div>
                </div>
            </form>
        {% if (camps | length) > 0 %}
        {% for camp in camps %}
            <div class="cust_card">
                <div class="cust_card_body" style="width: 50%;">
                    <h4 class="card-title">{{camp.name}}</h4>
                    <p class="p_label">Description</p>
                    <p class="card-text">{{camp.desc}}</p>
                    <p class="p_label">Goal</p>
                    <p class="card-text">{{camp.goal_users}}</p>
                </div>
                <div class="cust_card_body_right center-item">
                    <!-- <a href="" class="btn">View <i class="fa fa-list" aria-hidden="true"></i></a> -->
                    <!-- <a href="{{ url_for('send_ad_request', influencer_id=camp.id) }}" class="btn">Send Request <i class="fa fa-envelope" aria-hidden="true"></i></a> -->
                </div> 
            </div>
        {% endfor %}
        {% endif %}
        </div>
    </div>
{% endblock %}
{% block style %}
<style>
    .findSelectors{
        display: flex;
    }
    .findSelectors > a{
        width: 33.33%;
        min-height: 6vh;
        border:1px solid #2489E7;
        border-radius: 10px;
        text-decoration: none;
        color: #399cf9;
    }
    .findSelectors > a:hover{
        color: white;
        background-color: #5daef8;
    }
    .findInflu {
        margin-top: 4%;
        background-color: #5dadf870;
        padding: 15px;
        border-radius: 5px;
    }
    .inner_highlight{
        background-color: #5daef8;
        color: white !important;
    }
</style>
{% endblock %}
