{% extends 'layout_inner.html' %}
{% block content %}
    <div class="container">
        <div class="findSelectors">
            <a href="{{url_for('influ_find')}}" class="center_item heading {% if findActive == 'spon' %}inner_highlight{% endif %}">Find Sponsors</a>
            <a href="{{url_for('influ_find_Ads')}}" class="center_item heading {% if findActive == 'ads' %}inner_highlight{% endif %}">Find Ads</a>
            <a href="{{url_for('influ_find_Camp')}}" class="center_item heading {% if findActive == 'camp' %}inner_highlight{% endif %}">Find Campaigns</a>
        </div>
        <div id="find_influ"> 
        <form action="{{url_for('influ_find_Ads')}}" method="post" enctype="multipart/form-data">
            <div class="mb-3 findInflu">
                <label class="form-label">Find Ads and Ad Requests</label>
                <div class="container">
                    <input type="text" placeholder="Give Ad Name" class="form-control" name="search_adName" />
                    <p>** To get all results keep the search empty</p>
                    <br>
                    <select class="form-select" name="status_html" aria-label="Select Status">
                        <option hidden>Filter By :</option>
                        <option value="All">All</option>
                        <option value="live">Live</option>
                        <option value="closed">Closed</option>
                        <option value="ad_request_n">Ad Requests(New)</option>
                        <option value="ad_request_p">Ad Requests(Pending)</option>
                        <option value="ad_request_r">Ad Requests(Rejected)</option>
                    </select>
                    <div class="center_item">
                        <button type="submit" class="btn" style="margin-top: 20px;">Search</button>
                    </div>
                </div>
            </div>
        </form>
        {% if statusName %}
            <h2>{{statusName}}</h2>
        {% endif %}
        {% if (ads | length) > 0 %}
        {% for ad in ads %}
            <div class="cust_card">
                <div class="cust_card_body" style="width: 50%;">
                    <h4 class="card-title">{{ad.name}}</h4>
                    <p class="p_label">Influencer</p>
                    <p class="card-text">{{ad.influ_name}}</p>
                    <p class="p_label">Amount</p>
                    <p class="card-text">{{ad.amount}}</p>
                </div>
                <div class="cust_card_body_right center-item">
                    <a href="" class="btn">View <i class="fa fa-list" aria-hidden="true"></i></a>
                    <a href="{{ url_for('send_ad_request', influencer_id=ad.id) }}" class="btn">Send Request <i class="fa fa-envelope" aria-hidden="true"></i></a>
                </div> 
            </div>
        {% endfor %}
        {% endif %}
        {% if (adRs | length) > 0 %}
        {% for ad in adRs %}
            <div class="cust_card">
                <div class="cust_card_body" style="width: 50%;">
                    <h4 class="card-title">{{ad.ad_name}}</h4>
                    <p class="p_label">Comments</p>
                    <p class="card-text">{{ad.comments}}</p>
                    <p class="p_label">Amount</p>
                    <p class="card-text">{{ad.amount}}</p>
                </div>
                <div class="cust_card_body_right center-item">
                    <a href="" class="btn">View <i class="fa fa-list" aria-hidden="true"></i></a>
                    <a href="{{ url_for('send_ad_request', influencer_id=ad.id) }}" class="btn">Send Request <i class="fa fa-envelope" aria-hidden="true"></i></a>
                </div> 
            </div>
        {% endfor %}
        {% endif %}
        </div>
    </div>
{% endblock %}
{% block style %}
<style>
    .findSelectors{
        display: flex;
    }
    .findSelectors > a{
        width: 33.33%;
        min-height: 6vh;
        border:1px solid #2489E7;
        border-radius: 10px;
        text-decoration: none;
        color: #399cf9;
    }
    .findSelectors > a:hover{
        color: white;
        background-color: #5daef8;
    }
    .findInflu {
        margin-top: 4%;
        background-color: #5dadf870;
        padding: 15px;
        border-radius: 5px;
    }
    .inner_highlight{
        background-color: #5daef8;
        color: white !important;
    }
</style>
{% endblock %}
